In [2]:
import sqlite3

conn=sqlite3.connect("school.db")
print("Database Connected")
conn.close()

Database Connected

In [3]:
import sqlite3

conn=sqlite3.connect("school.db")
cursor =conn.cursor()

cursor.execute("""
CREATE TABLE Students(
               id INTEGER,
               name TEXT,
               marks INTEGER
)               
""")

conn.commit()
conn.close()

In [4]:
import sqlite3

conn=sqlite3.connect("school.db")
cursor =conn.cursor()

cursor.execute("INSERT INTO students VALUES (1,'Rahul',85)")

conn.commit()
conn.close()

In [6]:
import sqlite3

conn=sqlite3.connect("school.db")
cursor =conn.cursor()

cursor.execute("INSERT INTO students VALUES (2,'Swati',95)")

conn.commit()

In [8]:
students=[
    (3,'Ankita',90),
    (4,"karan",78)

]
cursor.executemany("INSERT INTO students VALUES(?,?,?)",students)

In [9]:
cursor.execute("SELECT * FROM Students")
data=cursor.fetchall()
print(data)

[(1, 'Rahul', 85), (2, 'Swati', 95), (2, 'Swati', 95), (3, 'Ankita', 90), (4, 'karan', 78)]

In [10]:
cursor.execute("SELECT * FROM Students")
row=cursor.fetchone()
print(row)

(1, 'Rahul', 85)

In [11]:
cursor.execute("SELECT name, marks FROM Students")
rows=cursor.fetchall()
print(rows)

[('Rahul', 85), ('Swati', 95), ('Swati', 95), ('Ankita', 90), ('karan', 78)]

In [12]:
cursor.execute("SELECT * FROM Students WHERE marks>80")

In [18]:
cursor.execute("update Students SET marks=95 where name='Rahul'")
conn.commit()

In [19]:
cursor.execute("DELETE FROM Students WHERE id=3")
conn.commit()

In [20]:
cursor.execute("DROP TABLE Students")

In [ ]:
import sqlite3