## Dictionary

In [12]:
list_1=[1,2,3,"Pune",986546541654]

tuple_1=(1,2,3,"Pune",986546541654)

set_1={1,2,3,"Pune",986546541654}

In [13]:
set_1={1,2,3}

dict_1={"name":"Gautami",
        "age":21,
        "City":"Pune",
        "marks":[99,91,100,83,95]
        }

In [14]:
dict_1

{'name': 'Gautami', 'age': 21, 'City': 'Pune', 'marks': [99, 91, 100, 83, 95]}

In [15]:
type(dict_1)

dict

In [16]:
dict_1["name"]

'Gautami'

In [17]:
dict_1["marks"]

[99, 91, 100, 83, 95]

In [18]:
dict_1["locality"]="wakad"

In [19]:
dict_1

{'name': 'Gautami',
 'age': 21,
 'City': 'Pune',
 'marks': [99, 91, 100, 83, 95],
 'locality': 'wakad'}

In [20]:
del dict_1["locality"]

In [21]:
dict_1

{'name': 'Gautami', 'age': 21, 'City': 'Pune', 'marks': [99, 91, 100, 83, 95]}

In [22]:
"locality" in dict_1

False

In [23]:
"name" in dict_1

True

In [24]:
dict_1.keys()

dict_keys(['name', 'age', 'City', 'marks'])

In [25]:
dict_1.values()

dict_values(['Gautami', 21, 'Pune', [99, 91, 100, 83, 95]])

In [29]:
for key1 in dict_1:
    print("Key1 ye raha: ",key1, "aur dict_1[key1]",dict_1[key1])

Key1 ye raha:  name aur dict_1[key1] Gautami
Key1 ye raha:  age aur dict_1[key1] 21
Key1 ye raha:  City aur dict_1[key1] Pune
Key1 ye raha:  marks aur dict_1[key1] [99, 91, 100, 83, 95]

In [30]:
for key1 in dict_1:
    print(key1, dict_1[key1])

name Gautami
age 21
City Pune
marks [99, 91, 100, 83, 95]

In [31]:
for key1 in dict_1:
    print(key1)

name
age
City
marks

In [40]:
student_data={
    "name":"Mayuri",
    "marks":{
        'maths':90,
        'physics':95,
        'chemistry':99,
        'Data Science':100
    }
}

In [41]:
student_data

{'name': 'Mayuri',
 'marks': {'maths': 90, 'physics': 95, 'chemistry': 99, 'Data Science': 100}}

In [42]:
student_data['marks']

{'maths': 90, 'physics': 95, 'chemistry': 99, 'Data Science': 100}

In [43]:
student_data['marks']['chemistry']

99

In [44]:
student_data

{'name': 'Mayuri',
 'marks': {'maths': 90, 'physics': 95, 'chemistry': 99, 'Data Science': 100}}

In [45]:
list_names=["Yash","Shailesh","Prateek"]
list_marks=[91,95,100]

In [46]:
dict_test=dict(zip(list_names,list_marks))

In [47]:
dict_test

{'Yash': 91, 'Shailesh': 95, 'Prateek': 100}

In [48]:
#try with other datatypes also 
#view
#iterate
##add
#delete
#update

In [50]:
student_data={
    "name":"Sakshi",
    "marks":{
        'maths':90,
        'physics':95,
        'chemistry':99,
        'Data Science':100,
        'ML':93
    },
}

In [51]:
student_data

{'name': 'Sakshi',
 'marks': {'maths': 90,
  'physics': 95,
  'chemistry': 99,
  'Data Science': 100,
  'ML': 93}}

In [55]:
student_data["Age"]=22

In [56]:
student_data

{'name': 'Sakshi',
 'marks': {'maths': 90,
  'physics': 95,
  'chemistry': 99,
  'Data Science': 100,
  'ML': 93},
 'Age': 22}

In [57]:
del student_data["Age"]

In [58]:
"Age" in student_data

False

In [59]:
stud_list=list(student_data)

In [63]:
stud_list

['name', 'marks']

In [64]:
stud_list.append("Age")

In [65]:
stud_list

['name', 'marks', 'Age']

In [67]:
stud_list.remove("Age")

In [68]:
stud_list

['name', 'marks']

In [69]:
stud_list.append("Age")

In [72]:
stud_list = ["Name", "Marks", "Course"]
stud_list[1] = "Percentage"
stud_list

['Name', 'Percentage', 'Course']

In [73]:
Percentage=24

In [74]:
stud_list

['Name', 'Percentage', 'Course']

In [75]:
dictionary_1={
    "Gautami":"Data Scientist",
    "Mayuri":"UI UX developer"
}

dictionary_2={
    "Sahil":"Python developer",
    "Gauri":"Team Leader",
    "Sakshi":"Frontend Developer"
}

In [76]:
merged_dict={**dictionary_1,**dictionary_2}

In [77]:
merged_dict

{'Gautami': 'Data Scientist',
 'Mayuri': 'UI UX developer',
 'Sahil': 'Python developer',
 'Gauri': 'Team Leader',
 'Sakshi': 'Frontend Developer'}

In [82]:
for key1, value1 in merged_dict.items():
    print(key1,":",value1)

Gautami : Data Scientist
Mayuri : UI UX developer
Sahil : Python developer
Gauri : Team Leader
Sakshi : Frontend Developer

In [83]:
for key1, value1 in merged_dict.items():
    print(key1,value1)

Gautami Data Scientist
Mayuri UI UX developer
Sahil Python developer
Gauri Team Leader
Sakshi Frontend Developer

In [88]:
dictionary_it_company={
    "gautami" : "data scientist",
    "mayuri" :" ui UX developer",
    "sahil" : "python developer",
    "gauri" : "team Leader",
    "sakshi" : "frontend developer"
}

In [89]:
dictionary_it_company

{'gautami': 'data scientist',
 'mayuri': ' ui UX developer',
 'sahil': 'python developer',
 'gauri': 'team Leader',
 'sakshi': 'frontend developer'}

In [90]:
result=dict(sorted(dictionary_it_company.items()))

In [91]:
result

{'gauri': 'team Leader',
 'gautami': 'data scientist',
 'mayuri': ' ui UX developer',
 'sahil': 'python developer',
 'sakshi': 'frontend developer'}

In [95]:
guess_it=[
    {"sanika":"pune","contact":1234,"Friends":["person1","person2"]},
    {"aniket":"wakad","contact":3434,"Friends":["person3","person4"]},
    {"mayuri":"pimpri","contact":1324,"Friends":["person5","person6"]},
]

#its a list of dictionary

In [96]:
for i in guess_it:
    print(i)
    print("***************")

{'sanika': 'pune', 'contact': 1234, 'Friends': ['person1', 'person2']}
***************
{'aniket': 'wakad', 'contact': 3434, 'Friends': ['person3', 'person4']}
***************
{'mayuri': 'pimpri', 'contact': 1324, 'Friends': ['person5', 'person6']}
***************

In [ ]:
# Assignment:

# create phone_book {} ,contact :add search view_all delete_cont

In [1]:
phone_book={
    "Gautami":1234,
    "Mayuri":2345,
    "Sakshi":3456,
    "Gauri":4567,
    "Avani":5678,
    "Sayli":6789
}

In [2]:
phone_book["Sarthak"]=7891  ##adding contact

phone_book

{'Gautami': 1234,
 'Mayuri': 2345,
 'Sakshi': 3456,
 'Gauri': 4567,
 'Avani': 5678,
 'Sayli': 6789,
 'Sarthak': 7891}

In [6]:
if "Gauri" in phone_book:
    print("Contact found")
else:
    print("Contact not found")

Contact found

In [ ]:
del phone_book["Sarthak"]  ##deleting contact

In [103]:
phone_book

{'Gautami': 1234,
 'Mayuri': 2345,
 'Sakshi': 3456,
 'Gauri': 4567,
 'Avani': 5678,
 'Sayli': 6789}